/* # WYSIWYG */

/**************************************/
/* 5. WYSIWYG: imitation in Edit mode */
/**************************************/
/* Source: various people on forum, incl. Piotr and pihentagy
/**************************************/
/* Editor font: make thicker so it is like in Preview
/* Remove markdown clutter
/* Unordered lists: turn into bullets as you type, as per Typora
/* Underline H1 heading in Edit mode
/* Blockquote in edit mode with left border rendered instead of ">"
/* Tag pills in edit mode
/* Coloured headings for editor and preview, same font-weight in Edit & Preview
/* ============================================================================*/

/* .side-dock-ribbon { flex: 0; } */
.workspace-ribbon { width: 0; }
.thema-dark {
   --lines-identation: #535353;
}

/* アクティブでないラインの装飾を非表示にする*/
div:not(.CodeMirror-activeline)>.CodeMirror-line span.cm-formatting-header,
div:not(.CodeMirror-activeline)>.CodeMirror-line span.cm-formatting-strong,
div:not(.CodeMirror-activeline)>.CodeMirror-line span.cm-formatting-em,
div:not(.CodeMirror-activeline) > .CodeMirror-line .cm-string.cm-url,
div:not(.CodeMirror-activeline)>.CodeMirror-line span.cm-formatting-highlight,
div:not(.CodeMirror-activeline)>.CodeMirror-line span.cm-formatting-code,

/* div:not(.CodeMirror-activeline)>.CodeMirror-line span.cm-comment, */
div:not(.CodeMirror-activeline)>.CodeMirror-line span.cm-formatting-link,
div:not(.CodeMirror-activeline)>.CodeMirror-line span.cm-tag {
  font-size: 0;
    /* display: none; */
}


div:not(.CodeMirror-activeline)>.CodeMirror-line span.cm-string.cm-url {
  content: ""
}
/* div:not(.CodeMirror-activeline)>.CodeMirror-line span.cm-string.cm-url::before {
  content: "test"
} */
  /* border-bottom: 2px dashed var(--text-muted); */
  /* border-bottom: 2px solid var(--text-muted); */

@font-face {
  font-family: boxicons;
       format('woff');
}

.cm-s-obsidian .CodeMirror-line * {
  -webkit-font-smoothing: auto;
}

.cm-hmd-list-indent .cm-tab,
ul ul {
  position: relative;
}

.cm-hmd-list-indent .cm-tab::before,
ul ul::before {
  content: "";
  border-left: 1px solid #535353;

  position: absolute;
}

.cm-hmd-list-indent .cm-tab::before {
  left: 0;
  top: -5px;
  bottom: -4px;
}

ul ul::before {
  left: -15px;
  top: 0;
  bottom: 0;
}

/* highlight (==) not visible anymore if not active line */
div:not(.CodeMirror-activeline) > .CodeMirror-line .cm-formatting-highlight.cm-highlight {
 font-size: 0;
}

/* Underline H2 heading in Edit mode */
.cm-s-obsidian pre.HyperMD-header-2:after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 5px;
  width: calc(100% - 10px);
  height: 1px;
  background: var(--text-accent); /* rgb(123, 108, 214); */
}

/* Underline H3 heading in Edit mode */
/* .cm-s-obsidian pre.HyperMD-header-3:after { */
/*   content: ""; */
/*   position: absolute; */
/*   bottom: 5px; */
/*   left: 5px; */
/*   width: calc(100% - 10px); */
/*   height: 1px; */
/*   background: var(--text-accent); /1* rgb(123, 108, 214); *1/ */
/* } */


.cm-hmd-internal-link {
	text-decoration: underline;
	text-decoration-color: #FF0000;
} 
  
/* Coloured headings for editor and preview, same font-weight in Edit & Preview */
.cm-s-obsidian .cm-header-1,
.markdown-preview-view h1 {
  font-size:  24px;
  font-weight: 450: bold;
  color: rgb(123, 108, 214); /* was(115, 98, 205); */
}
  
.cm-s-obsidian .cm-header-2,
.markdown-preview-view h2 {
  font-weight: 450;
  font-size:  24px;
  border-bottom: 2px solid;
  color: rgb(123, 108, 214);
}

.markdown-preview-view h2 {
  border-bottom: 2px solid;
}

.markdown-preview-view h2 .internal-link {
  text-decoration: none;
}

.cm-s-obsidian .cm-header-3,
.markdown-preview-view h3 {
  font-weight: 450: bold;
  color: rgb(123, 108, 214);
  font-size:  20px;
  border-bottom: 2px dashed var(--text-muted);
}
  
.cm-s-obsidian .cm-header-4,
.markdown-preview-view h4 {
  font-weight: 450: bold;
  color: rgb(123, 108, 214);
  font-size: 16px;
}
  
.cm-s-obsidian .cm-header-5,
.markdown-preview-view h5 {
  font-weight: 450: bold;
  color: rgb(123, 108, 214);
  font-size: 14px;
}
  
.cm-s-obsidian .cm-header-6,
.markdown-preview-view h6 {
  font-weight: 450;
  color: rgb(123, 108, 214);
}

/* Lines - horizontal*/

/* Horizontal gradient line in Preview as per Obsidianite theme */
.markdown-preview-view hr {
  margin-block-start: 4em;
  margin-block-end: 4em;
}

.markdown-preview-view hr,
div:not(.CodeMirror-activeline)>.HyperMD-hr-bg {
  border: none;
  height: 0;
  border-bottom: 0.5px solid;
  border-image-slice: 1;
  border-width: 0.5px;
  border-image-source: linear-gradient(to right,
          transparent,
          var(--base3), /* PB changed from var(--text-accent) */
          transparent);
}

div:not(.CodeMirror-activeline)>.HyperMD-hr-bg {
  top: 50%;
}

.markdown-preview-view hr::after,
div:not(.CodeMirror-activeline)>.HyperMD-hr-bg::after {
  content: '§';
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%) rotate(60deg);
  transform-origin: 50% 50%;
  padding: 0.5rem;
  color: var(--base3); /* PB changed from var(--text-sub-accent) */
  background-color: var(--base1);
}

/* Setting the gap above and below a hor. line, incl. footnotes ……
/* …… but footnotes can be set separately - see section Footnotes */
div.markdown-preview-section hr {
  margin-block-start: 25px;
  margin-block-end: 15px;
}

.markdown-preview-view h3 {
  display: table;
  margin-top: 30px;
  margin-bottom: 25px;
  font-size: 20px;
  border-bottom: 2px dashed var(--text-muted);
}

.markdown-preview-view h3 .internal-link {
  text-decoration: none;
}

.markdown-preview-view h4 .internal-link {
  text-decoration: none;
}

.markdown-preview-view h5 .internal-link {
  text-decoration: none;
}
/* 
.markdown-preview-view.is-readable-line-width.allow-fold-headings.allow-fold-lists.show-frontmatter:hover{
   opacity: 0%;
} */

/* Previewでのfoldの表示 */
 .markdown-preview-view .collapse-indicator:not(:hover){
   opacity: 1%;
}

/* Editorでのfoldの表示 */
.CodeMirror-foldgutter-open.CodeMirror-guttermarker-subtle{
  display: none;
}
.CodeMirror-foldgutter-open.CodeMirror-guttermarker-subtle:before{
  display: none;
}
.CodeMirror-foldgutter-open.CodeMirror-guttermarker-subtle:after{
  display: none;
}
.CodeMirror-foldgutter-folded.CodeMirror-guttermarker-subtle:after{
  display: none;
}
ul {
  list-style-type: disc;
}
ul ul {
  list-style-type: disc;
}
ul ul ul {
  list-style-type: circle;
}

/* .cm-hmd-list-indent .cm-tab::before
 {
  content: "ddd";
} */

/* URL参照の際にブロックを参照のマークを追加する */
 div:not(.CodeMirror-activeline) > .CodeMirror-line .cm-string.cm-url:not(.cm-formatting):after, 

/* div:not(.CodeMirror-activeline)>.CodeMirror-line span.cm-formatting.cm-formatting-quote,
div:not(.CodeMirror-activeline)>.CodeMirror-line span.cm-hmd-indent-in-quote {
  display: inline !important;
  color: transparent !important;
} */

/* 
  WYSIWYG 引用のためのコード
 */

/* div:not(.CodeMirror-activeline)>.HyperMD-quote {
   border-left: 5px solid var(--text-selection);
   border-color: #333 !important; 
   border-radius: 0 4px 4px 0;

   font-size: 14px;
   line-height: 0.5em;
   margin-left: 5px;
   padding: 12px 10px 15px 8.5px;
   display: inline-block;
}  */

 div:not(.CodeMirror-activeline) > .CodeMirror-line .cm-string.cm-url:not(.cm-formatting):after, 
.wys-enhanced div:not(.CodeMirror-activeline)>.CodeMirror-line span.cm-string.cm-url:not(.cm-formatting):after {
    content: url('https://api.iconify.design/majesticons:external-link-line.svg?color=%23808080&height=14');
    /* display: inline !important; */
}

.popover.hover-popover {
  position: fixed;
transform: scale(0.95);
  max-height: 500px;
  min-height: 50px;
  width: 600px;
  margin-top: -60px;
  margin-bottom: 60px;
}

.popover.hover-popover .markdown-embed  {
  height: 500px; /* was 300 */
  /* height: 550px; was 300 */
 font-size: 0.85em;
 line-height: 1.4;
}
.popover.hover-popover.is-loaded .markdown-embed .markdown-embed-content .markdown-preview-view{
padding: 10px 10px 10px 16px; /*16px  two pop magin */
}

.markdown-preview-view .markdown-embed {
  border-left: 0;
}
.markdown-preview-view .markdown-embed-link {
  width: 24px;
}
.markdown-preview-view .markdown-embed-title {
  display: none;
}
.markdown-preview-view .markdown-embed-content .markdown-preview-view {
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}
